* {
  margin: 0;
  padding: 0;
}

.start-page, .wrapper, .lose {
  width: 100%;
  height: 900px;
}

.start-page {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.start-page .start-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 170px;
  background: url(./img/startGame.png);
  background-size: 100% 100%;
}

.wrapper {
  position: fixed;
  background: url(./img/bg.jpg);
  background-size: 100% 100%;
}

.wrapper .left-side {
  position: absolute;
  height: 900px;
  width: 24%;
}

.left-side img {
  display: none;
  margin-left: 50px;
  margin-top: 50px;
}

.wrapper .main {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 90%;
}

.main .header {
  width: 100%;
  height: 80px;
  text-align: center;
}

.main .score {
  display: none;
  margin-top: 30px;
  line-height: 80px;
  font-size: 20px;
  font-weight: bold;
  color: #ddd;
}

.main .content {
  position: absolute;
  left: 10%;
  top: 34%;
  width: 79.5%;
  height: 36.5%;
}

.lose {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.lose .con {
  position: fixed;
  width: 400px;
  height: 300px;
  background: url(./img/lose.jpg);
  background-size: 100% 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.lose .lose-score {
  display: block;
  position: absolute;
  left: 40%;
  top: 42%;
  width: 40px;
  height: 30px;
  color: #222;
  font-size: 30px;
  font-weight: 700;
}

.lose .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url(./img/closeBtn.png);
  background-size: 100% 100%;
}

.content .food {
  background: url(./img/apple.png);
  background-size: 100% 100%;
}

.head {
  background: url(./img/head.png);
  background-size: 100% 100%;
}

.body {
  background: url(./img/body.png);
  background-size: 100% 100%;
}